<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/student/layout::head">
    <title>Quản lý Sinh Viên</title>

</head>
<body>
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <form th:action="@{/admin/student}" method="get" class="d-flex align-items-center" th:object="${search}">
            <input type="text" name="name" class="form-control me-3" placeholder="Tên sinh viên" th:field="*{name}">
            <input type="text" name="email" class="form-control me-3" placeholder="Email sinh viên" th:field="*{email}">
            <select class="form-select me-3" name="class" th:field="*{clazzId}">
                <option value=''>Chọn lớp</option>
                <option th:each="c : ${classes}" th:text="${c.name}" th:value="${c.id}"></option>
            </select>
            <button type="submit" class="btn btn-primary me-1" style="width: 400px;">
                <i class="fas fa-search"></i> Tìm kiếm
            </button>
            <a th:href="@{/admin/student}" class="btn btn-danger" style="width: 500px;">
                <i class="fa-solid fa-x"></i> Bỏ tìm kiếm
            </a>
        </form>
    </div>
    <div class="mb-5">
        <a href="/admin/student/create" class="btn btn-success">
            <i class="fas fa-plus"></i> Thêm sinh viên
        </a>
    </div>

    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>STT</th>
            <th>ID</th>
            <th>Ảnh đại diện</th>
            <th>Tên</th>
            <th>Lớp</th>
            <th>Email</th>
            <th>Số điện thoại</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${students.getSize() == 0}">
            <td colspan="8" class="text-center">
                Không tìm thấy sinh viên này
            </td>
        </tr>
        <tr th:each="s, index : ${students}">
            <td class="text-center" style="vertical-align: middle;" th:text="${index.count}"></td>
            <td class="text-center" style="vertical-align: middle;" th:text="${s.id}"></td>
            <td class="d-flex justify-content-center">
                <img src="https://cdn-icons-png.flaticon.com/512/168/168726.png" alt="Avatar" class="img-thumbnail"
                     width="70">
            </td>
            <td style="vertical-align: middle;" th:text="${s.user.name}"></td>
            <td style="vertical-align: middle;" th:text="${s.clazz.name}"></td>
            <td style="vertical-align: middle;" th:text="${s.user.email}"></td>
            <td style="vertical-align: middle;" th:text="${s.user.phoneNumber}"></td>
            <td style="vertical-align: middle; text-align: center;">
                <a th:href="@{/admin/student/{id}(id=${s.id})}" class="btn btn-info">
                    <i class="fas fa-eye"></i>
                </a>
                <a th:href="@{/s/update/{id}(id=${s.id})}" class="btn btn-warning">
                    <i class="fas fa-edit"></i>
                </a>
                <a th:href="@{/s/delete/{id}(id=${s.id})}" class="btn btn-danger">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation" th:if="${students.totalPages > 0}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:each="i : ${#numbers.sequence(0, students.totalPages - 1)}">
                <a class="page-link" th:if="${!isSearch}" th:href="@{/admin/student(page=${i+1})}"
                   th:text="${i + 1}"></a>
                <a class="page-link" th:if="${isSearch}"
                   th:href="@{/admin/student(page=${i+1}, email=${search.email}, name=${search.name}, classId=${search.clazzId})}"
                   th:text="${i + 1}"></a>
            </li>
        </ul>
    </nav>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>