body {
    font-family: 'Quicksand', sans-serif;
    background-color: white;
    color: #4A5568;
}
.main-title {
    color: #282781;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin: 5rem 0;
}

.navbar {
    background-color: #282781; /* Màu nền của navbar */
    border: 1px solid #242472; /* Đường viền */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Thêm bóng đổ cho navbar */
}
.nav-link {
    color: white !important; /* Màu chữ mặc định */
}

.nav-link:focus, .nav-link:hover{
    color: #86868d !important;
}
.dropdown-item {
    color: white; /* Màu chữ mặc định trong dropdown */
    font-size: 11px !important;
}

.nav-item a {
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.dropdown-menu {
    width: auto;
    min-width: unset;
    background-color: #282781;
    margin-top: 14px !important;
}
.dropdown-menu > li {
    margin: 0;
    border: none;
}

.dropdown-item:hover {
    background-color: rgba(40, 39, 129, 0.7); /* Nền trong suốt 70% */
    color: #c8bcbc; /* Màu chữ khi hover */
    cursor: pointer; /* Thêm hiệu ứng con trỏ */
}

/*section*/

.hero-image {
    height: 700px;
    width: 100%; /* hoặc giá trị phù hợp */
    margin-top: 32px;
    object-fit: contain; /* Đảm bảo hình ảnh không bị méo */
}

.hero-section {
    background: #282781;
    max-height: 700px; /* Giới hạn chiều cao của toàn bộ section */
    align-items: center; /* Căn giữa nội dung theo chiều dọc */
    position: relative; /* Thêm thuộc tính này để căn chỉnh ảnh với đáy của section */

}


.hero-content {
    color: white;
    position: relative;
}

.hero-button {
    background-color: #f15a29;
    color: white;
    padding: 12px 32px;
    border-radius: 50px;
    text-decoration: none;
}

.hero-button:hover {
    background-color: #e55527;
    color: white;
}

.animate-fade-in {
    animation: fadeIn 1.5s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

hr.divider {
    margin: 0;
    border: 0;
    border-top: 1px solid #686464;
}

/*thông báo css*/
swiper-container {
    width: 100%;
    padding: 2rem 0;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.announcement-card {
    height: 350px;
    width: auto;
    border-color: transparent;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.announcement-image-container {
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.announcement-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.announcement-image-container:hover .announcement-image {
    transform: scale(1.3);
}

.card-body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.announcement-meta {
    display: flex;
    justify-content: space-between;
}

.announcement-tag {
    font-size: 0.9rem;
    color: #ff4444;
    font-weight: 550;
}

.announcement-date {
    color: #110101;
    font-size: 0.9rem;
    font-weight: 550;
}

.announcement-title {
    font-size: 1.3rem;
    line-height: 1.4;
    font-weight: 700;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-decoration: none;
}
.announcement-title:hover {
    color: #282781 ;
    text-decoration: underline;
}

.view-details {
    font-size: 1.3rem;
    color: #ff4444;
    text-decoration: none;
    font-weight: 500;
}

.view-details:hover {
    color: #cc0000;
}
.btn-load-more {
    text-align: center;
    margin-top: 25px;
}
/*footer css*/

.footer {
    background-color: #282781;
    color: #ffffff;
    padding: 60px 0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.logo span {
    color: #fd754d;
}

.contact-info {
    color: #888;
    margin-top: 30px;
}

.contact-info div {
    margin-bottom: 15px;
}

.contact-icon {
    font-size: 20px;
    color: #ff6b6b;
    margin-right: 10px;
}

.products {
    margin-bottom: 20px;
}


.post-title {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.post-title:hover {
    color: #ff752e;
}

.subscribe-btn {
    background-color: #fd6f3c;
    border: none;
    padding: 10px 25px;
}

.subscribe-btn:hover {
    background-color: #282781;
}

.footer-heading {
    font-size: 20px;
    margin-bottom: 30px;
}

.social-icons {
    text-align: left; /* Căn giữa các biểu tượng */
}

.social-icons a {
    font-size: 25px;
    margin: 0 10px; /* Tạo khoảng cách giữa các biểu tượng */
    color: #ece9e9; /* Màu mặc định */
    transition: color 0.3s; /* Tạo hiệu ứng chuyển màu mượt mà */
    text-decoration: none;
}

.social-icons a:hover {
    color: inherit; /* Đảm bảo hover chỉ ảnh hưởng đến màu */
}

.social-icons a:nth-child(1):hover {
    color: #4267B2; /* Facebook: màu xanh dương */
}

.social-icons a:nth-child(2):hover {
    color: #0077B5; /* LinkedIn: màu xanh nhạt */
}

.social-icons a:nth-child(3):hover {
    color: #FF0000; /* YouTube: màu đỏ */
}

.social-icons a:nth-child(4):hover {
    color: #000000; /* TikTok: màu đen */
}

/*  teacher css*/

.card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card-img-top {
    height: 450px; /* Chiều cao cố định cho hình ảnh */
    object-fit: cover; /* Cắt ảnh để vừa khít khung */
    border-radius: 10px 10px 0 0; /* Bo tròn viền trên */
    transition: transform 0.9s ease;
}

.card-title {
    font-size: 1.3rem;
    color: #282781;
}
.card-img {
    height: 250px;
}

.card-text {
    font-size: 1.2rem;
    color: #e32b2b;
    margin-bottom: 20px;
}

.card:hover {
    transform: translateY(-10px); /* Hiệu ứng nâng lên khi hover */
    box-shadow: 0 20px 40px rgba(110, 144, 255, 0.2); /* bóng đổ khi hover */
}

.card:hover .card-img-top {
    transform: scale(1.2); /* zoom ảnh khi hover */
}